/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";
@import "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css";

body {
	font-family: "Open Sans" arial;
	color: #eee;
	background-color: #333;
}

h1,h2,h3,h4 {
	&:first-letter {
		text-transform: uppercase;
	}
}

.fb-comments, .fb-comments span[style], .fb-comments iframe[style] {width: 100% !important;}

h1 {
	font-size: 38px;
	line-height: 48px;
	margin: 0;
	margin-top: 40px;
	border-bottom: 1px solid #ccc;

	small {
		font-size: 0.4em;
	}
}

h2 {
	text-align: center;
}

h3 {
	padding: 1.5em 0;
	margin: 0;
	line-height: 1.5em;
	border-bottom: 1px solid #ccc;
}

h4 {
	margin: 1em 0;
	border-bottom: 1px solid #ccc;
	line-height: 1.5em;
}

pre {
	tab-size: 4;
}

em {
	font-weight: bold;
}

p, ul {
	margin: 0 0 1em;
}

.content {
	max-width: 800px;
	margin: auto;
	padding: 20px;
}

.content-restraint {
	max-width: 800px;
	margin: auto;
	padding: 0 20px;
}

.other {
	a {
		display: block;

		&:first-letter {
			text-transform: uppercase;
		}
	}
}

.markdown {
	img {
		margin: auto;
		display: block;
		max-width: 100%;
	}
}